<div id="experience" class="active-section">
    <div class="section-block experience">
        <h4 class="title">{{'work_title'|translate}}</h4>
        <div class="row">
            <div id="rex-experience-slider">
                <div class="listing-content">
                    <div class="col-md-2 list-img">
                        <!-- <img src="http://placehold.it/142x133" alt=""> -->
                        <div class="experience-date">
                            <h6>{{'work_inicio_a' | translate}} - <br>{{'work_fin_a' | translate}}</h6>
                        </div>
                        <span class="angle"></span>
                    </div>
                    <div class="col-md-10 list-description">
                        <h6>{{'work_titulo_a' | translate}} <span> <a href="http://www.sisventor.com">http://www.sisventor.com</a> </span></h6>
                        <p>{{'work_desc_a'|translate}}</p>
                    </div>
                </div>
                <div class="listing-content">
                    <div class="col-md-2 list-img">
                        <!-- <img src="http://placehold.it/142x133" alt=""> -->
                        <div class="experience-date">
                            <h6>{{'work_inicio_b' | translate}} - <br>{{'work_fin_b' | translate}} </h6>
                        </div>
                        <span class="angle"></span>
                    </div>
                    <div class="col-md-10 list-description">
                        <h6>{{'work_titulo_b' | translate}} <span> https://www.urbe.edu   ^  https://www.urbeinternacional.com</span></h6>
                        <p>{{'work_desc_b'|translate}}</p>
                    </div>
                </div>
                <div class="listing-content">
                    <div class="col-md-2 list-img">
                        <!-- <img src="http://placehold.it/142x133" alt=""> -->
                        <div class="experience-date">
                            <h6>{{'work_inicio_c' | translate}} - <br>{{'work_fin_c' | translate}}</h6>
                        </div>
                        <span class="angle"></span>
                    </div>
                    <div class="col-md-10 list-description">
                        <h6>{{'work_titulo_c' | translate}} <span> http://www.urbe.edu</span></h6>
                        <p>{{'work_desc_c' | translate}}</p>
                    </div>
                </div>
                <div class="listing-content">
                    <div class="col-md-2 list-img">
                        <!-- <img src="http://placehold.it/142x133" alt=""> -->
                        <div class="experience-date">
                            <h6>{{'work_inicio_d' | translate}} - <br>{{'work_fin_d' | translate}}</h6>
                        </div>
                        <span class="angle"></span>
                    </div>
                    <div class="col-md-10 list-description">
                        <h6>{{'work_titulo_d' | translate}} <span> https://www.workana.com</span></h6>
                        <p>{{'work_desc_d' | translate}}</p>
                    </div>
                </div>
                <div class="listing-content">
                    <div class="col-md-2 list-img">
                        <!-- <img src="http://placehold.it/142x133" alt=""> -->
                        <div class="experience-date">
                            <h6>{{'work_inicio_e' | translate}} - <br>{{'work_fin_e' | translate}}</h6>
                        </div>
                        <span class="angle"></span>
                    </div>
                    <div class="col-md-10 list-description">
                        <h6>{{'work_titulo_e' | translate}} <span> Instituto de Formacion Profesional </span></h6>
                        <p>{{'work_desc_e' | translate}}</p>
                    </div>
                </div>
                <div class="listing-content">
                    <div class="col-md-2 list-img">
                        <!-- <img src="http://placehold.it/142x133" alt=""> -->
                        <div class="experience-date">
                            <h6>{{'work_inicio_f' | translate}} - <br>{{'work_fin_f' | translate}}</h6>
                        </div>
                        <span class="angle"></span>
                    </div>
                    <div class="col-md-10 list-description">
                        <h6>{{'work_titulo_f' | translate}} <span> http://cidcitei.com</span></h6>
                        <p>{{'work_desc_f' | translate}}</p>
                    </div>
                </div>
                <div class="listing-content">
                    <div class="col-md-2 list-img">
                        <!-- <img src="http://placehold.it/142x133" alt=""> -->
                        <div class="experience-date">
                            <h6>{{'work_inicio_g' | translate}} - <br>{{'work_fin_g' | translate}}</h6>
                        </div>
                        <span class="angle"></span>
                    </div>
                    <div class="col-md-10 list-description">
                        <h6>{{'work_titulo_g' | translate}} <span> Omerca C.A  http://www.agfahealthcare.com/</span></h6>
                        <p>{{'work_desc_g' | translate}}</p>
                    </div>
                </div>
                <div class="listing-content">
                    <div class="col-md-2 list-img">
                        <!-- <img src="http://placehold.it/142x133" alt=""> -->
                        <div class="experience-date">
                            <h6>{{'work_inicio_h' | translate}} - <br>{{'work_fin_h' | translate}}</h6>
                        </div>
                        <span class="angle"></span>
                    </div>
                    <div class="col-md-10 list-description">
                        <h6>{{'work_titulo_h' | translate}} <span> Instututo las Americas Venezuela </span></h6>
                        <p>{{'work_desc_h' | translate}}</p>
                    </div>
                </div>
                <div class="listing-content">
                    <div class="col-md-2 list-img">
                        <!-- <img src="http://placehold.it/142x133" alt=""> -->
                        <div class="experience-date">
                            <h6>{{'work_inicio_i' | translate}} - <br>{{'work_fin_i' | translate}}</h6>
                        </div>
                        <span class="angle"></span>
                    </div>
                    <div class="col-md-10 list-description">
                        <h6>{{'work_titulo_i' | translate}} <span> Instututo las Americas Venezuela</span></h6>
                        <p>{{'work_desc_i' | translate}}</p>
                    </div>
                </div>
                <div class="listing-content">
                    <div class="col-md-2 list-img">
                        <!-- <img src="http://placehold.it/142x133" alt=""> -->
                        <div class="experience-date">
                            <h6>{{'work_inicio_j' | translate}} - <br>{{'work_fin_j' | translate}}</h6>
                        </div>
                        <span class="angle"></span>
                    </div>
                    <div class="col-md-10 list-description">
                        <h6>{{'work_titulo_j' | translate}} <span> Internet Remote Assistant</span></h6>
                        <p>{{'work_desc_j' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>